@import "../_base";

@keyframes slideOutUp {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    transform: translate3d(0, -100%, 0);
  }
}

@mixin slideOutUp{
  animation-name: slideOutUp;
}

.slideOutUp {
  @include animated;
  @include slideOutUp;
}