@import "../_base";

@keyframes slideInRight {
  from {
    transform: translate3d(100%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@mixin slideInRight{
  animation-name: slideInRight;
}

.slideInRight {
  @include animated;
  @include slideInRight;
}