@import "../_base";
@import "../_vars";

$per400:perspective(400px);

@keyframes flipOutX {
  from {
    transform: $per400;
  }

  30% {
    transform: $per400 rotate3d(1, 0, 0, -20deg);
    opacity: 1;
  }

  to {
    transform: $per400 rotate3d(1, 0, 0, 90deg);
    opacity: 0;
  }
}

@mixin flipOutX{
  animation-duration: calc($animate-duration * 0.75);
  animation-name: flipOutX;
  backface-visibility: visible !important;
}

.flipOutX {
  @include animated;
  @include flipOutX;
}