@import "../_base";

@keyframes rotateInDownLeft {
  from {
    transform: rotate3d(0, 0, 1, -45deg);
    opacity: 0;
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@mixin rotateInDownLeft{
  animation-name: rotateInDownLeft;
  transform-origin: left bottom;
}

.rotateInDownLeft {
  @include animated;
  @include rotateInDownLeft;
}