@import "../_base";

@keyframes fadeOutUpBig {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(0, -2000px, 0);
  }
}

@mixin fadeOutUpBig{
  animation-name: fadeOutUpBig;
}

.fadeOutUpBig {
  @include animated;
  @include fadeOutUpBig;
}