@import "../_base";

@keyframes fadeOutBottomLeft {
  from {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  to {
    opacity: 0;
    transform: translate3d(-100%, 100%, 0);
  }
}

@mixin fadeOutBottomLeft{
  animation-name: fadeOutBottomLeft;
}

.fadeOutBottomLeft {
  @include animated;
  @include fadeOutBottomLeft;
}