@import "../_base";

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@mixin fadeOut{
  animation-name: fadeOut;
}

.fadeOut {
  @include animated;
  @include fadeOut;
}