@import "../_base";

@keyframes fadeOutDown {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
}

@mixin fadeOutDown{
  animation-name: fadeOutDown;
}

.fadeOutDown {
  @include animated;
  @include fadeOutDown;
}