@import "../_base";

@keyframes rotateOutDownLeft {
  from {
    opacity: 1;
  }

  to {
    transform: rotate3d(0, 0, 1, 45deg);
    opacity: 0;
  }
}

@mixin rotateOutDownLeft{
  animation-name: rotateOutDownLeft;
  transform-origin: left bottom;
}

.rotateOutDownLeft {
  @include animated;
  @include rotateOutDownLeft;
}