@import "../_base";
@keyframes flash {
  from,
  50%,
  to {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0;
  }
}

@mixin flash{
  animation-name: flash;
}

.flash {
  @include animated;
  @include flash;
}
