@import "../_base";

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@mixin fadeInUp{
  animation-name: fadeInUp;
}

.fadeInUp {
  @include animated;
  @include fadeInUp;
}