@import "../_base";

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

@mixin zoomIn{
  animation-name: zoomIn;
}

.zoomIn {
  @include animated;
  @include zoomIn;
}