@import "../_base";
@import "../_vars";

@keyframes bounceOut {
  20% {
    transform: scale3d(0.9, 0.9, 0.9);
  }

  50%,
  55% {
    opacity: 1;
    transform: scale3d(1.1, 1.1, 1.1);
  }

  to {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
}


@mixin bounceOut{
  animation-duration: calc($animate-duration * 0.75);
  animation-name: bounceOut;
}

.bounceOut {
  @include animated;
  @include bounceOut;
}